* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #E6DFCC;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

#divEntenda {
    display: flex;
    justify-content: space-around;
}

#p1 {
    background-color: #557C70;
    color: white;
    border-radius: 10px;
}

#p2 {
    background-color: #D6A04F;
    border-radius: 10px;
    font-weight: 600;
}

#p3 {
    background-color: #557C70;
    color: white;
    border-radius: 10px;
    ;
}

#p4 {
    background-color: #D6A04F;
    border-radius: 10px;
    font-weight: 600;
}

#divTextoComida {
    display: flex;
}

#divPegaTexto {
    display: flex;

}

#botao3 {
    display: flex;
    justify-content: center;
}

.comendo {
    height: 500px;
    border: 2px solid white;
    border-radius: 20px;
}

.header {
    background-color: #557C70;
    width: 100%;
}

.liZoom {
    transition: all 0.5s;
    text-decoration: none;
}

.liZoom:hover {
    transform: scale(1.2);
    text-decoration: none;
}

.container {
    display: flex;
    width: 80%;
    height: 40%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.navBar {
    color: #ffff;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.imagemLogo {
    width: 70px;
}

.home {
    display: flex;
    justify-content: center;
}

#homePt1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgSalada {
    display: flex;
    height: 300px;
    border-radius: 10px;
    border: 5px solid white;
}

#homePt1 .texto1 {
    font-weight: 600;
    font-size: 20px;
    flex-direction: row-reverse;
    text-align: justify;
    justify-content: flex-end;
}

#texto1 {
    padding-left: 7px;
    background-color: #D6A04F;
    border-radius: 10px;
    width: 640px;
    padding: 10px;
    text-align: justify;
    line-height: 35px;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.5);
    font-weight: 600;
}

.imgMoca {
    display: flex;
    height: 400px;
    width: 650px;
    border-radius: 10px;
    border: 5px solid white;
}

#homePt2 .texto2 {
    font-weight: 600;
    font-size: 20px;
    flex-direction: row-reverse;
    text-align: justify;
    justify-content: flex-end;
}

#texto2 {
    padding-left: 7px;
    background-color: #557C70;
    color: #FFFF;
    border-radius: 10px;
    width: 467px;
    line-height: 35px;
    padding: 10px;
    text-align: justify;
    line-height: 35px;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.5);
    font-weight: 400;
}

#homePt2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#divCor {
    background-color: #f3eedb;
    display: flex;
    justify-content: space-around;
}

.imgMoca {
    display: flex;
    height: 400px;
    width: 650px;
    border-radius: 10px;
    border: 5px solid white;
}


#conferir {
    display: flex;
    justify-content: center;
}

#homePt3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#homePt3 .divPrimeiroTexto {
    font-weight: 600;
    font-size: 20px;
    flex-direction: row-reverse;
    text-align: justify;
    justify-content: flex-end;
}

#divPrimeiroTexto .listagem1 {
    background-color: #D6A04F;
    color: black;
    border-radius: 10px;
    width: 520px;
    height: 300px;
    line-height: 35px;
    font-weight: 600;
    text-align: justify;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.5);
}

.label1 {
    display: flex;
    justify-content: center;
}

#divSegundoTexto .listagem2 {
    background-color: #557C70;
    color: #FFFF;
    border-radius: 10px;
    width: 520px;
    line-height: 35px;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.5);
    font-weight: 400;
    text-align: justify;
}

footer {
    height: 120px;
    background-color: #557C70;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 0;
    padding: 0;
    bottom: 0;
}

footer p {
    text-align: center;

}

.container2 {
    width: 1100px;
    margin: auto;
}

#divBotao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoConheca {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #D6A04F;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.botaoConheca {
    transition: all 0.5s;
}

.botaoConheca:hover {
    transform: scale(1.2);
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

#pegaTudo {
    background-color: #f3eedb;
    height: 500px;
}

.slide img {
    width: 800px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~navigation-auto .auto-btn1 {
    background-color: white;
}

#radio3:checked~navigation-auto .auto-btn1 {
    background-color: white;
}

#radio4:checked~navigation-auto .auto-btn1 {
    background-color: white;
}
.divRegistrese{
    position: absolute;
    width: 200px;
    height: 80px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 14%;
    right: 1%;
}